---
import Html from "./icons/Html.astro";
import Sass from "./icons/Sass.astro";
import Link from "./icons/Link.astro";
import React from "./icons/React.astro";
import CSS from "./icons/CSS.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import GitHub from "./icons/GitHub.astro";
import Git from "./icons/Git.astro";
import SocialPill from "./SocialPill.astro";

const TAGS = {
    REACT: {
        name: "React",
        class: "bg-[#003159] text-white",
        icon: React,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#003159] text-white",
        icon: CSS,
    },
    Bootstrap: {
        name: "Bootstrap",
        class: "bg-[#003159] text-white",
        icon: Bootstrap,
    },
    Html: {
        name: "HTML",
        class: "bg-[#003159] text-white",
        icon: Html,
    },
    Sass: {
        name: "Sass",
        class: "bg-[#003159] text-white",
        icon: Sass,
    },
    GitHub: {
        name: "GitHub",
        class: "bg-[#003159] text-white",
        icon: GitHub,
    },
    Git: {
        name: "Git",
        class: "bg-[#003159] text-white",
        icon: Git,
    },
};
const CERTIFICATES = [
    {
        title: "Frontend Developer",
        link: "https://www.coderhouse.com/ar/certificados/64e549d6c5e0d30aab004261",
        image: "/projects/front.webp",
        tags: [
            TAGS.CSS,
            TAGS.Bootstrap,
            TAGS.REACT,
            TAGS.Html,
            TAGS.Sass,
            TAGS.GitHub,
            TAGS.Git,
        ],
        description: "Stack",
    },
];
---

<div class="flex flex-col gap-y-16">
    {
        CERTIFICATES.map(({ image, title, tags, link, description }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt="Certificate"
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                        {title}
                    </h3>
                    <div class="mt-2 text-gray-700 dark:text-gray-400">
                        {description}
                    </div>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row flex-wrap mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 mt-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {link && (
                                <SocialPill href={link}>
                                    <Link class="size-4" />
                                    Link
                                </SocialPill>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
