---
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";
import React from "./icons/React.astro";
import CSS from "./icons/CSS.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Tailwind from "./icons/Tailwind.astro";
import SocialPill from "./SocialPill.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "bg-[#003159] text-white",
    icon: Bootstrap,
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "FYM - Sanitarios",
    description:
      "A landing page created for a sanitary ware company. Built from scratch using Bootstrap, React, and CSS.",
    link: "https://www.fymsanitarios.com/",
    github: "https://github.com/mendezgd/FyM",
    image: "/projects/fym.webp",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.Bootstrap],
  },
  {
    title: "Black IT",
    description:
      "Landing page created for an IT solutions company. Built from scratch with Bootstrap, React, and CSS.",
    link: "https://black-it.vercel.app/",
    github: "https://github.com/mendezgd/BlackIt",
    image: "/projects/blackit.webp",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.Bootstrap],
  },
  {
    title: "turK's Reader",
    description:
      "Manga reader created from scratch with React, Tailwind, and hosted on Firebase.",
    link: "https://turkreader.vercel.app/",
    github: "https://github.com/mendezgd/turkreader",
    image: "/projects/turks.webp",
    tags: [TAGS.REACT, TAGS.Tailwind],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <SocialPill href={github}>
                  <GitHub class="size-6" />
                  Code
                </SocialPill>
              )}
              {link && (
                <SocialPill href={link}>
                  <Link class="size-4" />
                  Preview
                </SocialPill>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
